
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul, li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End CSS Reset */

body {
  overflow: auto;
  display: flex;
  font-family: Source Code Pro;
  justify-content: center;
}

select {
	-webkit-appearance: none;
	font-family: inherit;
	letter-spacing: inherit;
	flex: auto;
	justify-content: center;
	border-radius: 0;
	padding: 3px;
	font-size: 1em;
}

ul {
	width: 100%;
	margin-left: 5px;
}

li {
	display: flex;
	align-items: center;
	width: 100%;
	font-size: 1em;
	margin: 5px;
	margin-top: 0;
}

li > button {
	transition: all .2s ease;
	cursor: pointer;
	background-color: rgba(0,0,0,0);
	border: 1px solid #333;
	border-radius: 2px;
	font-size: .9em;
	margin-left: 5px;
}

#mainCanvas {
	border: 2px solid #333;
	border-top: none;
}

/* Controls */

#gridControls {
	display: flex;
	opacity: 1;
	transition: all .4s;
  background-color: #FFF;
	padding: 5px;
	position: fixed;
	justify-content: space-around;
	color: #333;
	font-size: 1.2em;
	width: 100%;
  bottom: 0px;
}

.controlContainers {
	display: flex;
	align-items: center;
}

.controlContainers > select,
.controlContainers > input {
	cursor: pointer;
}

#playButtonsContainer > i {
	cursor: pointer;
	padding: 5px;
}

#cellLogicControls {
  display: flex;
  position: fixed;
	width: 100%;
  top: 0px;
}

.cellTypeContainers {
	opacity: 0;
	display: flex;
	padding: 5px;
	background-color: #FFF;
	color: #333;
	transition: all .2s;
	font-size: 1.5em;
	justify-content: space-around;
	cursor: default;
}

.cellNames {
	background-color: lightgrey;
	flex: auto;
	font-family: BioRhyme;
	font-size: 1.2em;
	border: none;
	width: 100%;
}

.colorPickers {
	height: 100%;
	width: 20%;
	border: none;
}

.logicModalButtons,
.currentTypeButtons,
.colorPickers {
	background-color: lightgrey;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #333;
	cursor: pointer;
	padding: 0 5px;
}

/* Modals */

#modal-backdrop {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.2);
}

#cellLogicModal {
  display: none;
	flex-direction: column;
	overflow: scroll;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
	max-height: 90%;
  max-width: 50%;
	background-color: white;
}

/* Cell Conditions */

#cellName {
	display: flex;
	font-size: 2.5em;
	justify-content: center;
	color: #333;
	font-family: BioRhyme;
	letter-spacing: 2px;
	background-color: white;
	border-bottom: 2px solid #333;
	padding: .5em;
	flex: 0 0 auto;
}

.chanceSliders {
	cursor: pointer;
}

#cellConditions {
	display: flex;
	position: relative;
	flex-direction: column;
	flex: 1 1 auto;
	overflow: scroll;
}

#validNeighborsContainer {
	display: flex;
	font-size: 1em;
	flex-direction: column;
	padding: 5px;
	flex: 0 0 auto;
	border-top: 2px solid #333;
}

#validNeighborTypes {
	display: flex;
	justify-content: space-around;
	padding: 5px;
	background-color: white;
}

.conditionContainers {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 5px;
	margin: 5px;
	background-color: #EEE;
	min-height: 8em;
}

.conditionOptions {
	display: flex;
	font-size: 1em;
	min-height: 1em;
	padding-top: 5px;
	width: 90%;
}

.deleteButtons {
	color: red;
}

.deleteButtons:hover {
	background-color: red;
	color: black;
}

.conditionalSubmitButtons {
	display: flex;
	align-items: center;
	justify-content: center;
}

.conditionTitles {
	display: flex;
	font-size: 1.5em;
	padding-top: 5px;
	padding-bottom: 5px;
	justify-content: space-around;
	width: 60%;
}

.sliderContainers,
.conditionTitles > span {
	display: flex;
	width: 50%;
	justify-content: center;
}

.conditionalStatementContainers {
	display: flex;
	font-size: 1em;
	font-weight: bold;
	overflow: scroll;
	height: 3em;
	background-color: lightgrey;
	align-self: center;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 5px;
	width: 90%;
}

/* BUTTONS */

.tgl {
  display: none;
}
.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
  box-sizing: border-box;
}
.tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
  background: none;
}
.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
  background: none;
}
.tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 4em;
  height: 2em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.tgl + .tgl-btn:after {
  left: 0;
}
.tgl + .tgl-btn:before {
  display: none;
}
.tgl:checked + .tgl-btn:after {
  left: 50%;
}

.tgl-flip + .tgl-btn {
  padding: 2px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  font-family: Source Code Pro;
	color: white;
  -webkit-perspective: 100px;
          perspective: 100px;
}
.tgl-flip + .tgl-btn:after, .tgl-flip + .tgl-btn:before {
  display: inline-block;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  width: 100%;
  text-align: center;
  position: absolute;
  line-height: 2em;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 4px;
}
.tgl-flip + .tgl-btn:after {
  content: attr(name);
  background: lightblue;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}
.tgl-flip + .tgl-btn:before {
  background: grey;
  content: attr(name);
}
.tgl-flip + .tgl-btn:active:before {
  -webkit-transform: rotateY(-20deg);
          transform: rotateY(-20deg);
}
.tgl-flip:checked + .tgl-btn:before {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.tgl-flip:checked + .tgl-btn:after {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
  left: 0;
  background: lightblue;
}
.tgl-flip:checked + .tgl-btn:active:after {
  -webkit-transform: rotateY(20deg);
          transform: rotateY(20deg);
}
