
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul, li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End CSS Reset */

body {
  overflow: auto;
  display: flex;
	/* TITLE FONT IS CATAMARAN */
  font-family: Economica;
	letter-spacing: 2px;
  justify-content: center;
}

h3 {
	font-size: 1.5em;
}

select {
	-webkit-appearance: none;
	font-family: inherit;
	letter-spacing: inherit;
	flex: auto;
	justify-content: center;
	border-radius: 0;
	padding: 5px;
	font-size: 1em;
}

#mainCanvas {
	border: 2px solid #333;
	border-top: none;
}

li:hover {
  background-color: green;
  cursor: pointer;
}

/* Controls */

#gridControls {
  background-color: #FFF;
	padding: 5px;
	position: fixed;
  display: flex;
	justify-content: space-around;
	color: #333;
	font-size: 1.2em;
	width: 100%;
  bottom: 0px;
}

.controlContainers {
	display: flex;
	align-items: center;
}

#cellLogicControls {
  display: flex;
  position: fixed;
	width: 100%;
  top: 0px;
}

.cellTypeContainers {
	opacity: 0;
	display: flex;
	padding: 5px;
	background-color: #FFF;
	color: #333;
	font-size: 1.5em;
	justify-content: space-around;
	cursor: default;
}

.cellNames {
	background-color: lightgrey;
	flex: auto;
	font-family: Economica;
	font-size: 1.2em;
	border: none;
	width: 100%;
}

.cellTypeOptions {
	display: flex;
	align-items: center;
	border: 1px black solid;
}

.logicModalButtons,
.currentTypeButtons,
.colorPickers {
	justify-content: center;
	color: #333;
	cursor: pointer;
}

/* Modals */

#modal-backdrop {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.2);
}

#cellLogicModal {
  display: none;
	flex-direction: column;
  position: fixed;
	overflow: scroll;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 550px;
	background-color: lightblue;
}

/* Cell Conditions */

#cellName {
	display: flex;
	font-size: 2em;
	padding: 5px;
	justify-content: center;
	background-color: beige;
}

#validNeighborsContainer {
	display: flex;
	font-size: 1.2em;
	flex-direction: column;
}

#validNeighborTitle {
	display: flex;
	justify-content: center;
	padding: 5px;
	background-color: beige;
}

#validNeighborTypes {
	display: flex;
	justify-content: space-around;
	padding: 5px;
	background-color: beige;
}

.conditionContainers {
	display: flex;
	flex: auto;
	/*font-size: 1.2em;*/
	justify-content: center;
	flex-direction: column;
}

.conditionOptions {
	display: flex;
	font-size: 1em;
	align-items: stretch;
}

.deleteButtons {
  background-color: rgba(0,0,0,0);
	border: none;
}

.conditionalSubmitButtons {
	display: flex;
	align-items: center;
	justify-content: center;
}

.conditionTitles {
	display: flex;
	align-items: center;
}

.conditionalStatementContainers {
	font-size: 1.1em;
	min-height: 25px;
	overflow: auto;
}
